/target/
/.settings/
/.errai/
/.project
/.classpath
/.forge_settings
/.tern-project
src/main/gwt-unitCache/
src/main/webapp/WEB-INF/deploy/app/rpcPolicyManifest/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/